[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
matplotlib = "*"
pandas = "*"
tqdm = "*"
jupyter = "*"
tensorflow = "*"
tensorflow-datasets = "*"

[requires]
python_version = "3.7"
